Source: paperwork
Maintainer: Paul Liétar <paul@lietar.net>
Section: python
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9), dh-python, python-all (>= 2.7), python-setuptools, imagemagick, librsvg2-bin
Homepage: https://github.com/jflesch/paperwork
Vcs-Browser: https://github.com/plietar/paperwork/tree/debian
Vcs-Git: https://github.com/plietar/paperwork.git -b debian
X-Python-Version: >= 2.7

Package: paperwork
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
         python-gi,
         gir1.2-gtk-3.0,
         gir1.2-gladeui-2.0,
         gir1.2-poppler-0.18,
         python-gi-cairo
Recommends: aspell
Description: Automatically scan and OCR papers
 Paperwork is a tool to make papers searchable.
 .
 The basic idea behind Paperwork is "scan & forget" : You should be able to
 just scan a new document and forget about it until the day you need it again.
 Let the machine do most of the work.
